h3 {
  margin-bottom: 40px;
  font-weight: bold;
}

.btn{
  margin-left:20px;
  width: 397px;
  height:36px;
}



.home {
  text-align: center;
}

.return {
  margin-top: 10px;
  float: right;
}

.add-poll {
  margin: auto;
  width: 300px;
}

body {
  margin-left: 50px;
  margin-right: 50px;
}
