extends layout

block content
  .container.polls
    h1 List of polls

    .panel.panel-default
      table.table.table-hover
        thead
          tr
            th #
            th Title
            th State
            th Creation date
            th Actions
        tbody
          each poll in polls
            tr
              td= poll.id
              td= poll.title
              td= poll.state
              td= poll.creationDate
              td
                a(href='/polls/' + poll.id) Edit
                span  - 
                a(href='/polls/' + poll.id class='DELETE') Delete

    .panel.panel-info.add-poll
      .panel-heading POST request - Add a poll

      .panel-body
        form(action='/polls' method='POST')
          .form-group
            label Title : 
            input(type='text' name='title' class='form-control' placeholder='Title')
          .form-group
            label State : 
            select(name='state' class='form-control')
              option(value='active') active
              option(value='drafti') drafti
              option(value='closed') closed
            button(type='submit' class='btn btn-info return') Add
    
    a(href='/' class='btn btn-info return' role='button') Return to home

    script(type='text/javascript').
      $('.DELETE, .PUT').click(function(e) {
        e.preventDefault();

        $.ajax({
          url: $(this).attr('href'),
          type: $(this).attr('class'),
          success: function(result) {
            window.location.replace("/polls");
          }
        });
      });
