extends layout

block content

 body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar


        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='#')  TWEB Realtime Demo

            li
              a(href='#') Audience
            li
              a(href='#') Board
            li.active
              a(href='#') Debug
    h3 Are you happy ?
    a.btn.btn-primary(href='#') yes
    a.btn.btn-primary(href='#') no
    a.btn.btn-primary(href='#') I don't know
    br
    br
    a.btn.btn-danger(href='#') Reset votes
