extends layout

block content
  .container.home
    .alert.alert-info
      p #{nbPolls} polls have been created in total
      p #{nbPollsCreatedThisWeek} polls have been created this week
      p #{nbPollsOpen} polls are still open (state = 'active')

    .panel.panel-danger
      .panel-heading GET requests - Get polls

      .panel-body
        a(href='/polls') Show details of polls !

